# MANDATORY SETUP
DJANGO_SETTINGS_MODULE='core.settings'
SECRET_KEY=dev-change-me
DEBUG=true
ALLOWED_HOSTS=127.0.0.1,localhost
ENV=local

# DATABASE
DB_NAME=mini_erp
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5433

# Superuser Settings
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@example.com
DJANGO_SUPERUSER_PASSWORD=changeme123

# CLOUDFLARE
AWS_ACCESS_KEY_ID=''
AWS_SECRET_ACCESS_KEY=''
AWS_S3_ENDPOINT_URL=''
AWS_STORAGE_BUCKET_NAME='mini-erp'