# Django
DJANGO_SECRET_KEY=mini-erp
DEBUG=true
ALLOWED_HOSTS=127.0.0.1,localhost

# Postgres
PGHOST=db
PGPORT=5432
PGUSER=postgres
PGPASSWORD=postgres
PGDATABASE=mini-erp

# Optional: Django settings can read these
# DATABASE_URL=postgresql://postgres:postgres@db:5432/mini-erp
